{% extends 'registration/base.html' %}
{% block content %}
<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        {% autoescape off %}
                        <div class="card-body pt-5">
                            <a class="text-center" href=""> <h4>STARTO</h4></a>
                            {% if complete_msg %}
                            <p class="text-center text-secondary font-weight-normal mt-3">We have sent you an email to the address you wrote.</p>
                            <p class="text-center text-secondary font-weight-normal">Go to your mail and please click the link inside it!</p>
                            {% elif auth_already_done_msg %}
                            <p class="text-center text-secondary font-weight-normal mt-4">{{ auth_already_done_msg }}</p>
                            {% elif auth_complete_msg %}
                            <p class="text-center text-secondary font-weight-normal mt-4">{{ auth_complete_msg }}</p>
                            {% elif invalid_link_msg %}
                            <p class="text-center text-secondary font-weight-normal mt-4">{{ invalid_link_msg }}</p>
                            {% endif %}
                            {% if invalid_link_msg %}
                            <form class="mt-5 mb-5 login-input" method="GET" action="{% url 'signupuser' %}">
                                <button class="btn login-form__btn submit w-100">Go to sign up</button>
                            </form>
                            {% else %}
                            <form class="mt-5 mb-5 login-input" method="GET" action="{% url 'loginuser' %}">
                                <button class="btn login-form__btn submit w-100">Go to sign in</button>
                            </form>
                            {% endif %}
                        </div>
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



