{% extends 'registration/base.html' %}
{% block content %}
<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        {% autoescape off %}
                        <div class="card-body pt-5">

                            {% if validlink %}
                            <a class="text-center" href=""> <h4>change password</h4></a>

                            <form class="mt-5 mb-5 login-input" method="POST">
                                {% load widget_tweaks %}
                                {% csrf_token %}
                                <div class="form-group">
                                    {% render_field form.new_password1 class="form-control" placeholder="New password" %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.new_password2 class="form-control" placeholder="New password confirmation" %}
                                </div>
                                <p class="text-center text-danger font-weight-bold">{{ error }}</p>
                                <button class="btn login-form__btn submit w-100 mt-3">Submit</button>
                            </form>
                            {% else %}
                            <a class="text-center" href=""> <h4>STARTO</h4></a>
                            <p class="mt-4 text-center text-danger font-weight-normal">
                                The password reset link was invalid, possibly because it has already been used.
                                Please request a new password reset.
                            </p>
                            <p class="mt-5 login-form__footer">Have you already reset your password? <a href="{% url 'loginuser' %}" class="text-primary">Sign in</a> now</p>
                            <p class="login-form__footer">Did you forget your password? <a href="{% url 'password_reset' %}" class="text-primary">Reset your password</a></p>

                            {% endif %}
                        </div>
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}






