{% extends 'registration/base.html' %}
{% block content %}
<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        {% autoescape off %}

                        <div class="card-body pt-5">
                            <a class="text-center" href=""> <h4>Resend confirmation mail</h4></a>

                            <form class="mt-5 mb-3 login-input" method="POST" action="{% url 'resend' %}">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form-group">
                                    {{ field }}
                                </div>
                                {% endfor %}
                                {% if error %}
                                <p class="text-danger font-weight-normal">Sorry, that mail address is not registered.</p>
                                <p class="text-danger login-form__footer">Please try again or <a href="{% url 'signupuser' %}" class="text-primary">Sign up</a> now</p>
                                {% endif %}
                                <button class="btn login-form__btn submit w-100">Resend mail</button>
                            </form>
                        </div>
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}