{% extends 'todoapp/base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container">
        <h2>Password change</h2>
        <h3 style="color: red;">{{ error }}</h3>
    </div>
</div>
<form method="POST" action="{% url 'password_change' %}">
    {% csrf_token %}
    <div class="form-group row">
        <label for="originPassword" class="col-sm-2 col-form-label">Origin Password</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" id="originPassword"  name="origin_password">
        </div>
    </div>
    <div class="form-group row">
        <label for="newPassword" class="col-sm-2 col-form-label">New Password</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" id="newPassword"  name="new_password">
        </div>
    </div>
    <div class="form-group row">
        <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" id="confirmPassword"  name="confirm_password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}