{% extends 'todoapp/base.html' %}
{% block content %}
{% if form %}
<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container">
        {% if msg %}
        <h3 style="color: red;">Sorry, that mail is not registered. Try again or sign up</h3>
        {% endif %}
        <h2>Resend verification email</h2>
        <p class="lead">we will resend verification mail of your account. please input your email you written when you signed up!</p>
    </div>
</div>
<form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        <small>{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% else %}
<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container">
        <h4>Thank you! Your registration will be completed by doing one more thing.</h4>
        <h4>We have sent you an authentication email to the email address you wrote when you signed up.</h4>
        <h4>Go to your mail and please click the link inside it!</h4>
    </div>
</div>
{% endif %}
{% endblock %}