{% extends 'todoapp/base.html' %}
{% block content %}
{% if form %}
<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container">
        {% if message %}
        <h2 style="color: red;">Sorry, Your activation link is invalid. Please sign up again.</h2>
        {% endif %}
        <h2>Sign Up Now!</h2>
        <h4><a href="{% url 'resend' %}">If you want to resend verification mail, click this.</a></h4>
        <p class="lead">You can manage your daily to-do work free by signing up</p>
    </div>
</div>
<form method="POST">
    {% if email_error %}
    <h5 style="color: red;">That email is already exists. Please sign up with another email.</h5>
    {% endif %}
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        <small>{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
{% else %}
<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container">
        <h4>Thank you! Your registration will be completed by doing one more thing.</h4>
        <h4>We have sent you an authentication email to the email address you wrote when you signed up.</h4>
        <h4>Go to your mail and please click the link inside it!</h4>
    </div>
</div>
{% endif %}
{% endblock %}