{% extends 'mySite/base.html' %}
{% block body_block %}
<!--    <h1>Login</h1>-->
<!--    {% if login_result == 'not_active' %}-->
<!--        <h3>Your account is not active. Please verify your email</h3>-->
<!--    {% elif login_result == 'no_user' %}-->
<!--        <h3>Your account is not registered. Plaese register</h3>-->
<!--    {% else %}-->
<!--    <form method="POST" action="{% url 'mySite:user_login' %}">-->
<!--        {% csrf_token %}-->
<!--        <label for="username">Username: </label>-->
<!--        <input type="text" name="username" placeholder="Username"><br>-->
<!--        <label for="password">Password: </label>-->
<!--        <input type="password" name="password">-->
<!--        <input type="submit" value="Login">-->
<!--    </form>-->
<!--    -->
<!--    {% endif %}-->

{% endblock %}