<table id="iklsjs" style="box-sizing: border-box; height: 150px; margin: 0 auto 10px auto; padding: 5px 5px 5px 5px; width: 100%;" width="100%" height="150">
  <tbody style="box-sizing: border-box;">
    <tr style="box-sizing: border-box;">
      <td id="iwh1vj" style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0;" valign="top">
        <table id="iaasb2" style="box-sizing: border-box; height: 150px; margin: 0 auto 10px auto; padding: 5px 5px 5px 5px; width: 100%;" width="100%" height="150">
          <tbody style="box-sizing: border-box;">
            <tr style="box-sizing: border-box;">
              <td id="idjxeq" style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0;" valign="top">
                <table class="grid-item-row" style="box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; width: 100%;" width="100%">
                  <tbody id="i30ffw" style="box-sizing: border-box;">
                    <tr style="box-sizing: border-box;">
                      <td class="grid-item-cell2-l" style="box-sizing: border-box; vertical-align: top; padding-right: 10px; width: 50%;" width="50%" valign="top">
                      </td>
                      <td class="grid-item-cell2-r" style="box-sizing: border-box; vertical-align: top; padding-left: 10px; width: 50%;" width="50%" valign="top">
                        <table class="grid-item-card" style="box-sizing: border-box; width: 100%; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; margin-bottom: 10px; border: 3px solid #73b0c0; text-align: center;" width="100%" align="center">
                          <tbody style="box-sizing: border-box;">
                            <tr style="box-sizing: border-box;">
                              <td class="grid-item-card-cell" style="box-sizing: border-box; background-color: rgb(255, 255, 255); overflow-x: hidden; overflow-y: hidden; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; text-align: left; width: 0; margin: -8px 0 0 0;" bgcolor="rgb(255, 255, 255)" align="left">
                                <table class="grid-item-card-body" style="box-sizing: border-box; text-align: center;" align="center">
                                  <tbody style="box-sizing: border-box;">
                                    <tr style="box-sizing: border-box;">
                                      <td class="grid-item-card-content" style="box-sizing: border-box; font-size: 13px; color: rgb(111, 119, 125); padding-top: 0px; padding-right: 10px; padding-bottom: 20px; padding-left: 10px; width: 100%; line-height: 20px;" width="100%">
                                        <h1 class="card-title" style="box-sizing: border-box; font-size: 28px; color: rgb(68, 68, 68); border: 0 solid #444444; text-align: center; letter-spacing: 0; font-weight: 700; margin: 17.42px 0 17.42px 0;">
                                          <b style="box-sizing: border-box;">Thank you for registration on our web site!
                                            <br style="box-sizing: border-box;">​​​​​​​
                                          </b>
                                        </h1>
                                        <p class="card-text" style="box-sizing: border-box; font-size: 16px; line-height: 19px; text-align: center;">
                                          <strong style="box-sizing: border-box;"></strong>You need to verify your email to use service
                                          <br style="box-sizing: border-box;">
                                        </p>
                                        <p class="card-text" style="box-sizing: border-box; font-size: 16px; line-height: 19px; text-align: center;">Please click the button below
                                          <br style="box-sizing: border-box;">(If you have never registered site, please ignore this email)
                                          <br style="box-sizing: border-box;">
                                        </p>
                                        <a href="{{ url }}" class="button" style="box-sizing: border-box; font-size: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px; text-align: center; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; font-weight: 300; background-color: #9fcce4; width: 10px; padding: 10px 15% 10px 15%; line-height: 34px; color: #000000; font-family: Verdana, Geneva, sans-serif;">Verify email</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td id="iw78qq" style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0;" valign="top">
      </td>
    </tr>
  </tbody>
</table>