{% load widget_tweaks %}
{% if day == "mon" %}
<form method="post" action="{% url 'todo_create' day='mon' %}" class="js-todo-create-form">
{% elif day == 'tue' %}
<form method="post" action="{% url 'todo_create' day='tue' %}" class="js-todo-create-form">
{% elif day == 'wed' %}
<form method="post" action="{% url 'todo_create' day='wed' %}" class="js-todo-create-form">
{% elif day == 'thu' %}
<form method="post" action="{% url 'todo_create' day='thu' %}" class="js-todo-create-form">
{% elif day == 'fri' %}
<form method="post" action="{% url 'todo_create' day='fri' %}" class="js-todo-create-form">
{% elif day == 'sat' %}
<form method="post" action="{% url 'todo_create' day='sat' %}" class="js-todo-create-form">
{% elif day == 'sun' %}
<form method="post" action="{% url 'todo_create' day='sun' %}" class="js-todo-create-form">
{% endif %}
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title">Add Todo</h5>
    <button type="button" class="close" data-dismiss="modal"><span>×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-body ml-4 mr-4 mt-1 mb-0">
      <div class="form-group form-check mt-1">
        <input type="checkbox" class="form-check-input" id="important" name="important">
        <label class="form-check-label text-danger font-weight-bold" for="important"> IMPORTANT</label>
      </div>
      <div class=" mt-4">
        <input type="text" class="form-control input-default" id="title" name="title" placeholder="Title">
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
